@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

body {
  @apply bg-dark text-gray-100;
}

.c-scrollbar_thumb {
  @apply !bg-white;
}

[data-scroll-container] {
  perspective: 999999px !important;
}

input {
  @apply bg-dark border border-gray-500 rounded outline-none px-3 py-2 focus:border-gray-700 focus:shadow-[0_0_0_4px_#027DFF80] transition duration-300;
}

._3drDv {
  position: fixed !important;
}

.navBtn {
  /* fontSize: "1rem",
    fontWeight: "400",
    color: "white",
    cursor: "pointer",
    backgroundColor: "voilet",
    borderBottom: "2px solid white",
    borderRadius: "10px", */
  font-size: 1rem;
  font-weight: 400;
  color: rgb(211, 211, 211);
  cursor: pointer;
  /* background-color: voilet; */
  background-color: transparent;
  border-radius: 10px;
  /* position: relative; */

}
.navBtn :hover {
  color: #027dff !important;
  border-bottom: 2px solid #027dff !important;
}

.styled {
  color: #027dff !important;
  border-bottom: 2px solid #027dff !important;
}
