@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

body {
  @apply bg-dark text-gray-100;
}

.c-scrollbar_thumb {
  @apply !bg-white;
}

body {
  font-family: cursive;
}

[data-scroll-container] {
  perspective: 999999px !important;
}

input {
  @apply bg-dark border border-gray-500 rounded outline-none px-3 py-2 focus:border-gray-700 focus:shadow-[0_0_0_4px_#027DFF80] transition duration-300;
}

._3drDv {
  position: fixed !important;
}

.navBtn {
  /* fontSize: "1rem",
    fontWeight: "400",
    color: "white",
    cursor: "pointer",
    backgroundColor: "voilet",
    borderBottom: "2px solid white",
    borderRadius: "10px", */
  font-size: 1rem;
  font-weight: 400;
  font-family: cursive;
  color: rgb(211, 211, 211);
  cursor: pointer;
  /* background-color: voilet; */
  background-color: transparent;
  border-radius: 10px;
  /* position: relative; */
  padding: 0 5px;
}
.navBtn :hover {
  color: #027dff !important;
  border-bottom: 2px solid #027dff !important;
}

.styled {
  /* color: #e91a4a !important; */
  border-bottom: 2px ridge #e91a4a !important;
  border-top: 2px ridge #e91a4a !important;
  /* padding-bottom: 5px; */
  /* padding-right: 5px; */
  /* padding-left: 5px; */
  position: relative;
  transition: all 0.5s ease-in-out;
}

.logo {
  font-family: cursive;
  font-size: 1.5rem;
  font-weight: 400;
  color: #e91a4a;
  cursor: pointer;
  /* background-color: voilet; */
  border-radius: 10px;
  /* position: relative; */
  padding: 0 5px;

}
